body {
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 65, 65);
    border-radius: 30px;
    width: 70%;
    overflow: hidden;
}
img {
    width: 12%;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2.8rem;
    text-align: center;
    padding: 1rem;
    color: rgb(206, 231, 252);
    text-shadow: 1px 1px 3px rgba(143, 136, 143, 0.911); 
}
.accordion {
    background-color: rgba(162, 165, 168, 0.738);
    cursor: pointer;
    padding: 10px 20px;
    width: 90%;
    border-bottom: 2px solid rgba(92, 88, 203, 0.732);
    transition: all .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(40, 40, 58);
    text-shadow: 1px 1px 5px rgba(108, 95, 125, 0.911); 
    font-weight: 500;
    overflow: hidden;
}
.active, .accordion:hover {
    background-color: rgba(149, 164, 208, 0.631);
    color: aliceblue;
}
.accordion::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f067";
    padding: 20px;
}
.active::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f068";
    padding: 20px;
}
/* .active {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f068";
} */
.description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    width: 80%;
    color: rgb(235, 237, 238);
    text-align: justify;
    text-shadow: 1px 0px 10px rgba(50, 42, 50, 0.911); 
    margin-bottom: 20px;
}
@media screen and (max-width: 750px) {
    img {
        width: 20%;
    }
    h1 {
        font-size: 2.3rem;
    }
    .container {
        width: 100% !important;
    }
    .accordion {
        padding: 5px 20px;
    }
}
@media screen and (max-width: 480px) {
    img {
        width: 27%;
    }
    h1 {
        font-size: 2rem;
    }
}